.main-header {
  background-image: url('/img/headers/pano-from-google-rock.jpg');
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 3rem 2rem 4rem;
  position: relative;
  text-transform: uppercase;
  &::after {
    border-bottom: 0 solid transparent;
    border-right: 100vw solid @white;
    border-top: 5rem solid transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 0;
  }
  a {
    border-radius: 0.4rem;
    color: @white;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: 0 1.2rem;
    transition: background-color 250ms;
    &:link, &:visited {
      background-color: fade(@green-400, 40%);
    }
    &:hover, &:active, &:focus {
      background-color: @green-400;
      text-decoration: none;
    }
  }

  h1 {
    a {
      margin: 2rem 0;
      padding: 0 1.6rem;
    }
  }
}
